In [9]:
import matplotlib.pylab as plt
import pandas as pd
import sqlite3
import json
from functools import partial

In [17]:
db = "./data/haizhu@gz.houses.db.20170106"
con = sqlite3.connect(db)

query = """
SELECT 
"链家编号", "标题", "总价", "建筑面积", "经度", "纬度"
FROM houses;
"""

df = pd.read_sql(query, con)
df["单价"] = df["总价"] / df["建筑面积"]
fn = lambda x, pnt_pos: int(x*pnt_pos+0.5)/pnt_pos
map_fn = partial(fn, pnt_pos=10000.0)
df["经度_集中"] = df["经度"].map(map_fn)
df["纬度_集中"] = df["纬度"].map(map_fn)

In [18]:
api_pattern_file = "./baidu_api_pattern.html"
api_file = "./data/haizhu@gz.houses.html"

df_group = df.groupby([df["经度_集中"], df["纬度_集中"]]).mean()
df_group["单价"] = df_group["单价"].map(partial(fn, pnt_pos=10.0)) * 20.0
to_dict = lambda row : {"lng": row["经度_集中"], "lat": row["纬度_集中"], "count": row["单价"]}
data = [to_dict(df_group.ix[index]) for index in df_group.index]
with open(api_pattern_file) as pattern_f, open(api_file, "w") as api_f:
    pattern = pattern_f.read()
    data_repr = json.dumps(data, ensure_ascii=False)
    data_repr = data_repr.replace("},", "},\n")
    
    center_lnt = (df["经度"].max() + df["经度"].min())/2.0
    center_lat = (df["纬度"].max() + df["纬度"].min())/2.0
    print(center_lat, center_lnt)
    pattern = pattern.replace("{{center_lnt}}", str(center_lnt))
    pattern = pattern.replace("{{center_lat}}", str(center_lat))
    pattern = pattern.replace("{{points}}", data_repr)
    api_f.write(pattern)
df.describe()

23.0856465 113.3249225

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>总价</th>
      <th>建筑面积</th>
      <th>经度</th>
      <th>纬度</th>
      <th>单价</th>
      <th>经度_集中</th>
      <th>纬度_集中</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2357.000000</td>
      <td>2357.000000</td>
      <td>2357.000000</td>
      <td>2357.000000</td>
      <td>2357.000000</td>
      <td>2357.000000</td>
      <td>2357.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>187.775562</td>
      <td>71.560395</td>
      <td>113.296068</td>
      <td>23.094221</td>
      <td>2.455829</td>
      <td>113.296070</td>
      <td>23.094221</td>
    </tr>
    <tr>
      <th>std</th>
      <td>162.774340</td>
      <td>34.930163</td>
      <td>0.023204</td>
      <td>0.012685</td>
      <td>0.908240</td>
      <td>0.023203</td>
      <td>0.012683</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>6.450000</td>
      <td>113.254866</td>
      <td>23.052735</td>
      <td>0.000000</td>
      <td>113.254900</td>
      <td>23.052700</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>100.000000</td>
      <td>49.240000</td>
      <td>113.280095</td>
      <td>23.086034</td>
      <td>1.826923</td>
      <td>113.280100</td>
      <td>23.086000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>135.000000</td>
      <td>65.560000</td>
      <td>113.293860</td>
      <td>23.096145</td>
      <td>2.126582</td>
      <td>113.293900</td>
      <td>23.096100</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>217.000000</td>
      <td>82.500000</td>
      <td>113.310708</td>
      <td>23.104697</td>
      <td>2.880000</td>
      <td>113.310700</td>
      <td>23.104700</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2354.000000</td>
      <td>428.000000</td>
      <td>113.394979</td>
      <td>23.118558</td>
      <td>6.613757</td>
      <td>113.395000</td>
      <td>23.118600</td>
    </tr>
  </tbody>
</table>
</div>